{% load bootstrap4 %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Instagram / Post List</title>
</head>
<body>
    <form action="" method="GET">
        <input type="text" name="q" value="{{ q }}"/>
        <input type="submit" value="Search"/>
    </form>
    <table class="table table-bordered table-hover">
        <tbody>
        {% for post in post_list %}
            <tr>
                <td>
                    {{ post.pk }}
                </td>
                <td>
                    {% if post.photo %}
                        <img src="{{ post.photo.url }}" style="width: 70px" />
                    {% else %}
                        No Photo
                    {% endif %}
                </td>
                <td>
{#                    <a href="{% url 'instagram:post_detail' post.pk %}">{{ post.message }}</a>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# {{ page_obj }} #}
    {% if is_paginated %}
        {% bootstrap_pagination page_obj size="small" justify_content="center" %}
    {% endif %}
</body>
</html>